<!DOCTYPE html>
<html>
  <head>
    <title>タスク管理</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">タスク管理</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">タスク管理</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">

    </div>
  </div>
  </nav>
  <body>

    <%= yield %>
  </body>
  <footer>
    <br>
    <br>
    <p>タスク管理株式会社</p>
    <p>© 2021 TASK CONTROLL Corp.</p>
  </footer>
</html>
